@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    font-size: 12px;
    color: #787878;
    -webkit-font-smoothing: antialiased;
    background-color: white;
}

h1{
    font-size: 38px;
    font-weight: 600;
    color: #171717;
    text-align: center;
}

h2{
    font-size: 30px;
    letter-spacing: 0px;
    color: #171717;
    font-family: "Montserrat";
    font-weight: 600;
}




/* NAV MENU */
header{
    height: 90px;
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0 8.5%;
}

.nav_link{
    width: 300px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;   
}

.nav_link a{
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 1px;
    color: black;
    font-weight: 700;
    transition: color .1s linear;
}

.nav_link a:hover{
    color: #10c9c3;
}

.active{
    color: #10c9c3 !important;
}

/* intro */
#intro{
    width: 100%;
    height: 300px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.intro_content{
    max-width: 527px;
}

.intro_text{
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #787878;
    font-family: "Nunito Sans";
    text-align: center;
}


/* GALLERY */
#gallery{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.work_container{
    width: 100%;
    max-width: 1370px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work__item{
    width: 341px;
    height: 300px;
    display: block;   
    position: relative;
    overflow: hidden;
}

.work__photo{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.work__content{
    width: 100%;
    height: 100%;
    background-color: rgba(16, 201, 185, .85);
    color: white;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: opacity .2s linear;
}

.work__content:hover{
    opacity: 0;
}


/* AMELIA */
#amelia{
    width: 100%;
    height: 350px;
    background-image: url(image/amelia.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* NUMBERS */
#numbers{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 240px;
    width: 100%;
    background-color: #10c9c3;
    color: white;    
}

.numbers_content{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
}

.block{
    display: flex;
    padding-top: 5px;
}

.numbers__text {
    position: relative;
    float: left;
    padding-left: 25px;
    letter-spacing: 1px;
}

.text1 {
    font-size: 18px;
    margin-bottom: 8px;
}

.text2 {
     text-transform: uppercase;
}


/* ABOUT */
#about{
    width: 100%;
    height: 568px;
    display: flex;
}

.about_img{
    width: 50%;
    height: 100%;
    background-image: url(image/portret.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about_content{
    width: 50%;
    height: 100%;
    display: flex;
    background-color: #f5f5f5;
    align-items: center;
    
}

.about_text{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #787878;
    font-family: "Nunito Sans";
    width: 80%;
    margin-left: 5px;
}

.signature{
    background-image: url(image/signature.png);
    background-size: cover;
    height: 57px;
    max-width: 223px;
    
}


/* NEED */
#need{
    width: 100%;
    height: 395px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.need_container{
    max-width: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.need_text{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #787878;
    font-family: "Nunito Sans";
    text-align: center;
    margin: 0 10px;
}

.button_need{
    display: block;
    position: relative;
    width: 180px;
    height: 55px;
    background-color: #39b4af;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 1px;
    color: white;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    line-height: 55px;
    transition: background-color .2s linear
}

.button_need:hover{
    background-color: #46e0db;
}


/* FOOD */
#food{
    width: 100%;
    height: 570px;
    display: flex;
    background-color: #f6f6f6;
}

.food_content{
    height: 100%;
    width: 42%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5%;
}

.food_text{
    font-size: 16px;
    letter-spacing: 0px;
    color: #787878;
    font-family: "Nunito Sans";
    width: 80%;
    margin-left: 5px;
}

.food_img{
    height: 100%;
    width: 50%;
    background-image: url(image/food.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* FOOD NAV */
#food_nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.food_nav_text{
    font-size: 14px;
    letter-spacing: 0px;
    color: black;
    font-family: "Nunito Sans";
    text-transform: uppercase;
    font-weight: 700;   
}


/* CONTACT */
#contact{
    width: 100%;
    background-color: #f5f5f5;
}

.content_conteiner{
    width: 100%;
    max-width: 1170px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 100px 0;   
}

.contact_container{
    width: 100%;
    display: flex;   
}

.info{
    width: 40%;
}

.form{
    width: 60%;
}

.need__field{
    height: 326px;
    width: auto;
       
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;   
}

input[name=name], input[name=email], select{
    width: 48%;
    padding: 16px 20px;
    margin: 0px 0;
    display: inline-block;
    border: 0;
    border-radius: 0px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
}

input[name=title], select{
    width: 100%;
    padding: 16px 20px;
    margin: 30px 0;
    display: inline-block;
    border: 0;
    border-radius: 0px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;  
}

textarea{
    width: 100%;
    
    height: 161px;
    padding: 12px 20px;
    margin: 0px 0;
    display: inline-block;
    border: 0;
    border-radius: 0px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    resize: none;  
}

.n_btn{  
    height: 54px;
    display: flex;   
    margin-top: 30px;
}

.btn_p{
    width: 182px;    
    border: 0;
    background-color: #10c9c3;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    font-weight: 600;
    opacity: .8;
    transition: background-color .1s linear;
}

.btn_p:hover{
    background-color: #46e0db;
}


/* MAP */
.map{
    width: 100%;
    height: 470px;
    background-image: url(image/map.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 100px;
}



/* FOOTER */
footer {
    height: 195px;
    width: 100%;
    background: black;
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
    color: #bcbcbc;
    display: flex;
    align-items: center;          
}

.footer_cont{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 165px;
}

.col {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.logo_footer {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    
}

.phone {
    margin: 0px;
}

.content__nav {
    text-decoration: none;
    color: inherit;
    margin-top: 5px;
    transition: color .1s linear;
}

.content__nav:hover {
    color: white;
}